<div class="menu">  
    <!-- <ul>
        <p>Menu</p>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/registro">Registro</a></li>
    </ul> -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Menu</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" routerLinkActive="bg-info" routerLink="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="bg-info" routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="bg-info" routerLink="/registro">Registro</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
</div>

