<div class="container">
  <h1 class="text-center fs-1">Registro</h1>
  <form [formGroup]="forRegistro">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="email" >
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Registro</button>
  </form>
</div>
